*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.logo img{
    width: 84.3rem;
}
.image1 img {
    width: 280px;
    position: relative;
    left: 550px;
    bottom: 870px;
}
.logo h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    bottom: 380px;
    right: 15px;
    font-size: 40px;
}
.secondpage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    bottom: 300px;
    height: 6rem;
}
.stage1 {
    text-align: center;
    margin-left: 30px;
    margin-top: 70px;
    font-family: sans-serif;
    line-height: 19px;
}
.writeup1 h2{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.writeup1 p {
    font-size: 13px;
    padding-right: 60px;
}
.writeup1 span p {
    color: rgb(252, 7, 7);
    font-family: sans-serif;
    font-size: 13px;
    padding-top: 20px;
}
.stage2 {
    text-align: center;
    margin-left: 30px;
    margin-top: 70px;
    font-family: sans-serif;
    line-height: 19px;
}
.writeup2 h2{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 9px;
}
.writeup2 p {
    font-size: 13px;
    padding-right: 35px;
}
.writeup2 span p {
    color: rgb(252, 7, 7);
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 20px;
}
.stage3{
    text-align: center;
    margin-right: 100px;
    margin-top: 70px;
    font-family: sans-serif;
    line-height: 19px;
}
.stage3 .image img {
    width: 150px;
}
.writeup3 h2 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 9px;
}
.writeup3 p {
    font-size: 13px;
    padding-left: 10px;
}
.writeup3 span p {
    color: rgb(252, 7, 7);
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 20px;
}
.thirdpage{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
}
.layout {
    margin-top: 100px;
    font-family: sans-serif;
    padding-left: 70px;
}
.layout p {
    font-size: 13px;
    width: 310px;
}
.layout button {
    transition: all ease-in-out 0.5s;
    font-size: 13px;
    margin-top: 20px;
    border: solid 1px  red;
    padding: .4rem 1rem;
    border-radius: 6rem;
    background-color: red;
    color: white;
    transition: all .8s ease-in-out;
}
.layout button:hover{
    border: solid 1px white;
    color: white;
    background-color: #4eb371;
}
.layoutimage img {
    position: relative;
    right: 25px;
}
.fourthpage {
        display: flex;
        justify-content: space-between;
        background-color: #fff0ed;
        padding: 336 0 96px 0;
        padding-top: 8rem;
        padding-bottom: 30px;
        
    
}
.setup {
    margin-top: 100px;
    font-family: sans-serif;
    padding-right: 70px;
}
.setup p {
    font-size: 13px;
    width: 295px;
}
.setup button {
    transition: all ease-in-out 0.5s;
    font-size: 13px;
    margin-top: 20px;
    border: solid 1px red;
    padding: .4rem 1rem;
    border-radius: 6rem;
    background-color: red;
    color: white;
    transition: all .8s ease-in-out;
}
.setup button:hover{
    border: solid 1px white;
    color: white;
    background-color: #4eb371;
}
.setupimage img {
    position: relative;
    left: 15px;
    bottom: px;
}
.fifthpagetop {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.firstline{
    padding-left: 35px;
}
.firstline h4{
    margin-bottom: 17px;
    font-size: 15px;
}
.firstline ul li {
    font-size: 15px;
    line-height: 28px;
}
.firstline ul li:hover{
    text-decoration: underline;
}
.secondline {
    padding-right: 50px;
}
.secondline ul {
    margin-top: 37px; 
}
.secondline ul li {
    font-size: 15px;
    line-height: 28px;
}
.secondline ul li:hover{
    text-decoration: underline;
}
.thirdline {
    padding-right: 50px;
}
.thirdline ul {
    margin-top: 39px;
}
.thirdline ul li {
    font-size: 15px;
    line-height: 28px;
}
.thirdline ul li:hover{
    text-decoration: underline;
}
.fourthline {
    padding-right: 50px;
}
.fourthline h4 {
    margin-bottom: 17px;
    font-size: 15px;
}
.fourthline ul {
    margin-top: 25px;
}
.fourthline ul li {
    font-size: 15px;
    line-height: 28px;
}
.fourthline ul li:hover{
    text-decoration: underline;
}
.fifthline {
    padding-right: 150px;
}
.fifthline ul {
    margin-top: 45px;
}
.fifthline ul li {
    font-size: 15px;
    line-height: 28px;
}
.fifthline ul li:hover{
    text-decoration: underline;
}
.fifthpagebuttom {
    display: flex;
    justify-content: space-between;
    padding-top: 95px;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.sixthline{
    padding-left: 35px;
}
.sixthline h4 {
    margin-bottom: 17px;
    font-size: 15px;
}
.sixthline ul li {
    font-size: 15px;
    line-height: 28px;
}
.sixthline ul li:hover{
    text-decoration: underline;
}
.seventhline {
    padding-right: 50px;
}
.seventhline h4 {
    margin-bottom: 17px;
    font-size: 15px;
}
.seventhline ul {
    padding-top: 5px;
}
.seventhline ul li {
    font-size: 15px;
    line-height: 28px;
}
.seventhline ul li:hover{
    text-decoration: underline;
}
.eigthline {
    padding-right: 380px;
}
.eigthline h4 {
    margin-bottom: 17px;
    font-size: 15px;
}
.eigthline ul {
    padding-top: 5px;
}
.eigthline ul li {
    font-size: 15px;
    line-height: 28px;
}
.eigthline ul li:hover{
    text-decoration: underline;
}
.finishingimage img {
    padding-right: 30px;
}
.lastfooter {
    padding-top: 30px;
    background-color: black;
    height: 140px;
}
.listitems {
    margin-left: 20px;
}
.listitems img {
    width: 150px;
}
.listitems ul li {
    display: inline;
    font-size: 13px;
    font-family: sans-serif;
    color: grey;
    padding-right: 30px;
}
.listitems a {
    text-decoration: none;
    color: grey;
}
.listitems a:hover{
    text-decoration: underline;
}